<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增终端管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-terminal-add">
        <input name="domainId" type="hidden" id="treeId"/>
        <input name="precinct" type="hidden" id="treeIds"/>
        	<div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>终端ID：</label>
                <div class="col-sm-8">
                    <input name="terminalId" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>终端名称：</label>
                <div class="col-sm-8">
                    <input name="terminalName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>IP：</label>
                <div class="col-sm-8">
                    <input name="terminalIp" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属分区：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    	<input name="domainName" onclick="selectDomainTree()" id="treeName" type="text" placeholder="请选择归属分区" class="form-control" readonly="true" required>
                        <span class="input-group-addon" onclick="selectDomainTree()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">寻呼话筒：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                        <input type="radio" th:id="${'isCmic_' + dict.dictCode}" name="isCmic" th:value="${dict.dictValue}" th:checked="${!dict.default}" required>
                        <label th:for="${'isCmic_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">自动采播：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                        <input type="radio" th:id="${'isAutoCast_' + dict.dictCode}" name="isAutoCast" th:value="${dict.dictValue}" th:checked="${!dict.default}" required>
                        <label th:for="${'isAutoCast_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端状态：</label>
                <div class="col-sm-8">
                	<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">终端管理分区：</label>
                <div class="col-sm-8">
                	<div class="input-group">
                    	<input name="domainNames" onclick="selectDomainTree()" id="treeName" type="text" placeholder="请选择管理的分区" class="form-control" readonly="true">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/terminal"
        $("#form-terminal-add").validate({
        	onkeyup: false,
        	rules:{
        		terminalName:{
        			minlength: 2,
        			maxlength: 30
        		},
        		terminalId:{
        			minlength: 4,
        			maxlength: 20
        		},
        		terminalIp:{
        			isIp:true,
        			remote: {
                        url: prefix + "/checkIpUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "terminalIp": function () {
                            	debugger
                            	var data = $("input[name='terminalIp']").val();
                                return data;
                            }
                        },
                        dataFilter: function (data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        	},
        	messages: {
        		"terminalIp": {
                    remote: "IP地址输入出错或已存在"
                }
            },
            focusCleanup: true
        });
        
        function submitHandler() {debugger
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-terminal-add').serialize());
            }
        }
        
        
        /*选择分区树*/
        function selectDomainTree() {
        	var treeId = $("#treeId").val();
        	var domainId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/domain/selectDomainTree/" + domainId;
			var options = {
				title: '选择分区',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowSelect(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}

    </script>
</body>
</html>