<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增终端管理')" />
    <!-- <th:block th:include="include :: datetimepicker-css" /> -->
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-terminal-add">
        <input name="domainId" type="hidden" id="treeId" th:value="${domain != null?domain.domainId:''}"/>
        <input name="precinct" type="hidden" id="precinct"/>
        	<div class="form-group">    
        		<label class="col-sm-3 control-label">终端状态:</label>
                <div class="col-sm-2">
                	<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="status" checked>
                            <span></span>
                    </label>
                </div>
        		<label class="col-sm-3 control-label">是否覆盖原终端:</label>
                <div class="col-sm-2">
                	<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="iscover">
                            <span></span>
                    </label>
                </div>
            </div>
        	<div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>添加数量:</label>
                <div class="col-sm-8">
                    <input name="terminalNum" class="form-control" type="number" min="1" max = "200"  required>
                </div>
            </div>
        	<div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>起始终端ID:</label>
                <div class="col-sm-8">
                    <input name="terminalId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>终端名称:</label>
                <div class="col-sm-8">
                    <input name="terminalName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>起始IP:</label>
                <div class="col-sm-8">
                    <input name="terminalIp" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属分区:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    	<input name="domainName" onclick="selectDomainTree()" id="treeName" type="text" placeholder="请选择归属分区" class="form-control" readonly  th:value="${domain != null?domain.domainName:''}" required />
                        <span class="input-group-addon" onclick="selectDomainTree()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">寻呼话筒:</label>
                <div class="col-sm-2">
               		<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="isCmic" onclick="showSelect();">
                            <span></span>
                    </label>
                </div>
                <label class="col-sm-3 control-label">自动采播:</label>
                <div class="col-sm-2">
                	<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="isAutoCast" onclick="showSelect();">
                            <span></span>
                    </label>
                </div>
                
            </div>
            <div class="form-group" id= "domainSelect" style="display:none;" >
                <label class="col-sm-3 control-label">终端管理分区:</label>
                <div class="col-sm-8">
                	<div class="input-group">
                    	<input name="domainNames" onclick="selectDomainTrees()" id="domainNames" type="text" placeholder="请选择管理的分区" class="form-control" readonly required>
                        <span class="input-group-addon" onclick="selectDomainTrees()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注:</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <!-- <th:block th:include="include :: datetimepicker-js" /> -->
    <script type="text/javascript">
        var prefix = ctx + "system/terminal"
        $("#form-terminal-add").validate({
        	onkeyup: false,
        	rules:{
        		terminalName:{
        			minlength: 2,
        			maxlength: 30
        		},
        		terminalId:{
        			minlength: 4,
        			maxlength: 4,
        			remote: {
                        url: prefix + "/checkIdUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "terminalId": function () {
                            	var data = $("input[name='terminalId']").val();
                                return data;
                            }
                        },
                        dataFilter: function (data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        		terminalIp:{
        			isIp:true,
        			remote: {
                        url: prefix + "/checkIpUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "terminalIp": function () {
                            	var data = $("input[name='terminalIp']").val();
                                return data;
                            }
                        },
                        dataFilter: function (data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        	},
        	messages: {
        		"terminalIp": {
                    remote: "IP地址输入出错或已存在"
                },
        		"terminalId": {
                    remote: "终端ID地址输入出错或已存在"
                }
            },
            focusCleanup: true
        });
        
        function submitHandler() {debugger
        	
            if ($.validate.form()) {
	        	var data = $("#form-terminal-add").serializeArray();
	        	var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
	        	var isCmic = $("input[id='isCmic']").is(':checked') == true ? 0 : 1;
	        	var isAutoCast = $("input[id='isAutoCast']").is(':checked') == true ? 0 : 1;
	        	var terminalNum = $("input[id='terminalNum']").is(':checked') == true ? 0 : 1;
	        	data.push({"name": "status", "value": status});
	        	data.push({"name": "isCmic", "value": isCmic});
	        	data.push({"name": "isAutoCast", "value": isAutoCast});
	        	data.push({"name": "terminalNum", "value": terminalNum});
                $.operate.save(prefix + "/addlist", data);
            }
        }
        /*复选分区树*/
        function selectDomainTrees(){
        	var domainIds = $.common.isEmpty($("#precinct").val()) ? "0" : $("#precinct").val();
        	var url = ctx + "system/domain/selectDomainTrees/" + domainIds;
			var options = {
				title: '选择分区',
				width: "380",
				url: url,
				callBack: getDomainIds
			};
			$.modal.openOptions(options);
        }
        /*选择分区树*/
        function selectDomainTree() {
        	var treeId = $("#treeId").val();
        	var domainId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/domain/selectDomainTree/" + domainId;
			var options = {
				title: '选择分区',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        
        function getDomainIds(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if (tree.getCheckedNodes() && tree.getCheckedNodes().length > 0) {
				var ters = formatMulTree(tree.getCheckedNodes());
    			$("#precinct").val(ters.precinct);
    			$("#domainNames").val(ters.domainNames);
    			layer.close(index);
			}else{
				$.modal.msgError("请选择对应分区");
			}
		}
        
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowSelect(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}
		//处理按钮点击,显示分区选择
		function showSelect(){
			var is = $("input[id='isAutoCast']").is(':checked')||$("input[id='isCmic']").is(':checked');
			if(is){
				$("#domainSelect").show();
			}else{
				$("#domainSelect").hide();
			}
		}
		//选中节点处理
		function formatMulTree(trees){
			var data = {
					precinct:"",
					domainNames : ""
			};
			for(var i = trees.length-1;i>=0;i--){
				data.precinct += trees[i].id+",";
				data.domainNames += trees[i].name +",";
			}
			if(!$.common.isEmpty(data.precinct)){
				data.precinct = $.common.removeLast(data.precinct);
				data.domainNames = $.common.removeLast(data.domainNames);
			}
			return data;
		}
    </script>
</body>
</html>