<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改终端管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-terminal-edit" th:object="${workTerminal}">
            <input name="terRealId" th:field="*{terRealId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端ID：</label>
                <div class="col-sm-8">
                    <input name="terminalId" th:field="*{terminalId}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端名称：</label>
                <div class="col-sm-8">
                    <input name="terminalName" th:field="*{terminalName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">IP：</label>
                <div class="col-sm-8">
                    <input name="terminalIp" th:field="*{terminalIp}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">寻呼话筒：</label>
                <div class="col-sm-2">
               		<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="isCmic" onclick="showSelect();" th:field="*{isCmic}">
                            <span></span>
                    </label>
                </div>
                <label class="col-sm-3 control-label">自动采播：</label>
                <div class="col-sm-2">
                	<label class="toggle-switch switch-solid">
                            <input type="checkbox" id="isAutoCast" onclick="showSelect();" th:field="*{isCmic}">
                            <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属分区：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    	<input name="domainName" onclick="selectDomainTree()" id="treeName" type="text" placeholder="请选择归属分区" class="form-control" readonly="true" th:field="*{domain.domainName}" required>
                        <span class="input-group-addon" onclick="selectDomainTree()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所在分区：</label>
                <div class="col-sm-8">
                    <input name="domainId" th:field="*{domainId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端最后登录时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="loginTime" th:value="${#dates.format(workTerminal.loginTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">终端管理分区：</label>
                <div class="col-sm-8">
                    <textarea name="precinct" class="form-control">[[*{precinct}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/terminal";
        $("#form-terminal-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-terminal-edit').serialize());
            }
        }

        $("input[name='loginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>