<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('终端管理列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 分区结构
				</div>
				<div class="box-tools pull-right">
				    <a type="button" class="btn btn-box-tool" href="#" onclick="domain()" title="管理分区"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新分区"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	
	<div class="ui-layout-center">
     	<div class="container-div">
	        <div class="row">
	            <div class="col-sm-12 search-collapse">
	                <form id="terminal-form">
						<input type="hidden" id="domainId" name="domainId">
		                <input type="hidden" id="parentId" name="parentId">
	                    <div class="select-list">
	                        <ul>
	                            <li>
	                                <p>终端名称：</p>
	                                <input type="text" name="terminalName"/>
	                            </li>
	                            <li>
	                                <p>IP：</p>
	                                <input type="text" name="terminalIp"/>
	                            </li>
	                            <li>
	                                <p>寻呼话筒：</p>
	                                <select name="isCmic" th:with="type=${@dict.getType('work_status')}">
	                                    <option value="">所有</option>
	                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                                </select>
	                            </li>
	                            <li>
	                                <p>自动采播：</p>
	                                <select name="isAutoCast" th:with="type=${@dict.getType('work_status')}">
	                                    <option value="">所有</option>
	                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                                </select>
	                            </li>
	                            <li>
	                                <p>终端状态：</p>
	                                <select name="status" th:with="type=${@dict.getType('work_status')}">
	                                    <option value="">所有</option>
	                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                                </select>
	                            </li>
	                            <li class="select-time">
	                                <p>登录时间：</p>
	                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginLoginTime]"/>
	                                <span>-</span>
	                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endLoginTime]"/>
	                            </li>
	                            <li>
	                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
	                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
	                            </li>
	                        </ul>
	                    </div>
	                </form>
	            </div>
	
	            <div class="btn-group-sm" id="toolbar" role="group">
	                <a class="btn btn-info" onclick="addlist()" shiro:hasPermission="system:terminal:add">
	                    <i class="fa fa-plus"></i> 批量添加
	                </a>
	                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:terminal:add">
	                    <i class="fa fa-plus"></i> 添加
	                </a>
	                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:terminal:edit">
	                    <i class="fa fa-edit"></i> 修改
	                </a>
	                <a class="btn btn-warning multiple disabled" onclick="editDomain()" shiro:hasPermission="system:terminal:edit">
	                    <i class="fa fa-edit"></i> 分区修改
	                </a>
	                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:terminal:remove">
	                    <i class="fa fa-remove"></i> 删除
	                </a>
	                <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:terminal:export">
	                    <i class="fa fa-download"></i> 导出
	                 </a> -->
	            </div>
	            <div class="col-sm-12 select-table table-striped">
	                <table id="bootstrap-table"></table>
	            </div>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:terminal:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:terminal:remove')}]];
        var isCmicDatas = [[${@dict.getType('work_status')}]];
        var isAutoCastDatas = [[${@dict.getType('work_status')}]];
        var prefix = ctx + "system/terminal";
		var domainId = 0;
		var checkTerId,data;

		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
		    queryTerminalList();
		    queryDomainTree();
		});
		
		function queryTerminalList() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add/"+domainId,
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "终端管理",
		        sortName: "loginTime",
		        sortOrder: "desc",
                clickToSelect:true,
                rememberSelected:true,
                uniqueId : "terRealId",
                columns: [{
                	field: 'state',
                    checkbox: true
                },
                {
                    field : 'terRealId', 
                    title : '终端序号ID' ,
                    visible: false 
                },
                {
                    field : 'terminalId', 
                    title : '终端ID',
                    align: 'center',
		            sortable: true/* ,
                    visible: false */
                },
                {
                    field : 'terminalName', 
                    title : '终端名称',
                    align: 'center'
                },
                {
                    field : 'terminalIp', 
                    title : 'IP',
                    align: 'center'
                },
                {
                    field : 'isCmic', 
                    title : '寻呼话筒',
                    formatter: function(value, row, index) {
                    	if(value == 0){
                    		var actions = [];
                    		actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="selectTerminalTrees(\'' + row.precinct + '\',\'' + row.terRealId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    		return actions.join('');
                    	}else{
                       		return $.table.selectDictLabel(isCmicDatas, value);
                    	}
                    },
                    align: 'center'
                },
                {
                    field : 'isAutoCast', 
                    title : '自动采播',
                    formatter: function(value, row, index) {
                    	if(value == 0){
                    		var actions = [];
                    		actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="selectTerminalTrees(\'' + row.precinct + '\',\'' + row.terRealId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    		return actions.join('');
                    	}else{
                       		return $.table.selectDictLabel(isAutoCastDatas, value);
                    	}
                    },
                    align: 'center'
                },
                {
                    field : 'domain.domainName', 
                    title : '所在分区',
                    align: 'center'
                },
                {
                   	visible: editFlag == 'hidden' ? false : true,
                    title : '终端状态',
   		        	align: 'center',
   		        	formatter: function (value, row, index) {
   		        		return statusTools(row);
   		        	}
                },
                {
                    field : 'loginTime', 
                    title : '登录时间',
                    align: 'center',
		            sortable: true
                },
                {
                    field : 'remark', 
                    title : '备注',
                    align: 'center'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.terRealId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.terRealId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        };
        
        function queryDomainTree()
		{
			var url = ctx + "system/domain/treeData";
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick
		    };
			$.tree.init(options);
			function zOnClick(event, treeId, treeNode) {debugger
				$("#domainId").val(treeNode.id);
				$("#parentId").val(treeNode.pId);
				domainId = treeNode.id;
				$.table.search();
				queryTerminalList();
			}
		}
		
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryDomainTree();
		});

		/* 终端管理-分区 */
		$('#btnDomain').click(function() {
			var url = ctx + "system/domain";
			$.modal.openTab("分区管理", url);
		});
		/* 终端状态显示 */
		function statusTools(row) {
		    if (row.status == 1) {
    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.terRealId + '\')"></i> ';
    		} else {
    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.terRealId + '\')"></i> ';
    		}
		}
		/* 终端管理-停用 */
		function disable(terRealId) {
			$.modal.confirm("确认要停用终端吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "terRealId": terRealId, "status": 1 });
		    })
		}

		/* 终端管理启用 */
		function enable(terRealId) {
			$.modal.confirm("确认要启用终端吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "terRealId": terRealId, "status": 0 });
		    })
		}
		
		 /*复选分区树*/
        function selectTerminalTrees(domainIds,checked){
        	checkTerId = checked;
        	var url = ctx + "system/domain/selectDomainTrees/" + domainIds;
			var options = {
				title: '选择分区',
				width: "380",
				url: url,
				callBack: setDomainIds
			};
			$.modal.openOptions(options);
        }
		
        function setDomainIds(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if (tree.getCheckedNodes() && tree.getCheckedNodes().length > 0) {
				var ters = formatMulTree(tree.getCheckedNodes());
				var data ={
					"terRealId": checkTerId,
					"precinct": ters
				}
    			$.modal.confirm("确认要修改管理分区吗？", function() {
    				$.operate.post(prefix + "/edit", data);
    		    })
    			layer.close(index);
			}else{
				$.modal.msgError("请选择对应管理分区");
			}
		}
      	//选中节点处理
		function formatMulTree(trees){
			var data = "";
			for(var i = trees.length-1;i>=0;i--){
				data += trees[i].id+",";
			}
			if(!$.common.isEmpty(data)){
				data = $.common.removeLast(data);
			}
			return data;
		}
      	//批量添加终端
      	 // 添加信息
        function addlist() {
        	table.set();
        	$.modal.open("添加" + table.options.modalName, prefix + "/addlist/"+ domainId);
        }
      	function editDomain(){
      		table.set();
        	var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.affectedRowIds() : $.table.selectColumns(table.options.uniqueId);
        	if (rows.length == 0) {
        		$.modal.alertWarning("请至少选择一条记录");
        		return;
        	}
        	$.modal.confirm("确认要修改选中的" + rows.length + "条终端的分区信息么?", function() {debugger
    			data = { "ids": rows.join() };
    			selectDomainTree();
    			//$.operate.submit(url, "post", "json", data);
        	});
      	}
      	 /*选择分区树*/
        function selectDomainTree() {
        	var treeId = $("#treeId").val();
        	var domainId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/domain/selectDomainTree/" + domainId;
			var options = {
				title: '选择分区',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
      	 
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowSelect(tree)) {
				var body = layer.getChildFrame('body', index);
				data.domainId = body.find('#treeId').val();
    			//$("#treeId").val(body.find('#treeId').val());
    			//$("#treeName").val(body.find('#treeName').val());
    			$.operate.post(prefix + "/editdomain", data);
    			layer.close(index);
			}
		}
    </script>
</body>
</html>