<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('文件广播')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: RangeSlider-css" />
</head>
<body class="gray-bg">
	<input id="terIds"   name="terIds"    type="hidden" th:value="${terIds}"/>
	<input id="domainIds"   name="domainIds"    type="hidden" th:value="${domainIds}"/>
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 终端选择
				</div>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" id="btnTerminal" title="管理终端"><i class="fa fa-edit"></i></i></button>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新分区"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree treeselect"></div>
			</div>
		</div>
	 </div>
     <div class="ui-layout-center">
        <div class="ibox-content">
        	<div id="test" class="col-sm-6">
				<input type="range" class = "slider-normal"> 
			</div>
        	<div id="test" class="col-sm-6">
				<input type="range" class = "slider-small"> 
			</div>
        </div>
     	 <div class="icon-view-plus" id="toolbar" role="group">
            <a class="icon iconfont icon-liebiao" onclick="showFileList()" shiro:hasPermission="work:filecast:list" title = "音频列表">
            </a>
            <a class="icon iconfont icon-yinyueset" onclick="showSongList()" shiro:hasPermission="work:filecast:add" title = "歌单导入">
            </a>
            <a class="icon iconfont icon-shanchu" onclick="removeAll()" title = "删除">
            </a>
        </div>
		<div class="col-sm-12 select-table table-striped" id="table-div">
		<div class="ibox-title">
           <h5>已选音频</h5>
           <div class="ibox-tools">
               <a class="collapse-link"><i class="fa fa-chevron-up"></i>
               </a>
                <a class="close-link"><i class="fa fa-times"></i></a> 
           </div>
        </div>
			<table id="bootstrap-table"
			 data-use-row-attr-func="true"
			 data-reorderable-rows="true"></table>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <th:block th:include="include :: bootstrap-table-reorder-js" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<th:block th:include="include :: RangeSlider-js" />
    <script th:inline="javascript">
        var prefix = ctx + "work/filecast";
        var workSongDatas = [[${@dict.getType('work_song_status')}]];
        var returndata;
		function test(){
			$('.select-table').slideToggle(300);
		}
		$(function() {
			$('.slider-normal').RangeSlider({ min: 0,   max: 100,  step: 0.1, callback: change, finishedCallback:finished});
			$('.slider-small').RangeSlider({ min: 0,   max: 100,  step: 0.1, callback: change, finishedCallback:finished});
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 245 });
		    queryFileList();
		    queryTerminalTree();
		    setValue();
		});
		function change(){
			
		}
		function finished(){
			
		}
		/**设置进度条位置*/
		function setValue(value){
			if($.common.isEmpty(value)){
				value = 20;
			}
			var data = $(".slider-small" );
			data[0].value = value;
			var userAgent = navigator.userAgent.toLowerCase();
			if((userAgent.indexOf("edge") <0) && (userAgent.indexOf( "webkit" )> 0 )){
				data.css( 'background-size', value + '% 100%' ); 
			}
		}
        function queryFileList(data){
        	$.table.destroy();
        	if($.common.isEmpty(data)){
        		data = [];
        	}
            var options = {
                //url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        //striped:true,
                sidePagination : "client",
                height : 500,
                pageSize:10000,
                pageList:[10000],
		        onReorderRow:function(data){
		        	putData(data);
		        },
		        uniqueId : "fileId",
		        data : data,
		        columns: [{
                	field: 'state',
                    checkbox: true
                },
                {
                    align: 'center',
                    field : 'fileId', 
                    title : '音频编号',
                    visible: false
                },
                {
                    align: 'center',
                    field : 'fileName', 
                    title : '音频名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                   	}
                },
                {
                    field : 'delFlag', 
                    title : '状态',
		            width: '5%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	if(value == '2'){
                    		value = '1';
                    	}
                       	return $.table.selectDictLabel(workSongDatas, value);
                    },
                },
                {
                    align: 'center',
                    field : 'songName', 
                    title : '歌曲名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 15, "");
                   	}
                },
                {
                    align: 'center',
                    field : 'artist', 
                    title : '歌手名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 10, "");
                   	}
                },
                {
                    field : 'album', 
                    title : '歌曲专辑',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 10, "");
                   	}
                },
                {
                    field : 'duration', 
                    title : '音频时长',
                    align: 'center',
                   	formatter: function(value, row, index) {
                   		var num = Math.floor(value/1000);
                   		return Math.floor(num/60)+":"+(num%60 >= 10?num%60:('0'+num%60));
                   	}
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	 var actions = [];
                         actions.push('<a class="icon-view-small " href="javascript:void(0)" onclick="$.table.remove(\'' + row.fileId + '\')"><i class="icon iconfont icon-shanchu1" title = "删除"></i></a>');
                         return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        }
        
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryTerminalTree();
		});

		/* 终端管理 */
		$('#btnTerminal').click(function() {
			var url = ctx + "system/terminal";
			$.modal.openTab("终端管理", url);
		});
		/**展示选择歌单*/
        function showSongList(){
        	var url = ctx + "work/songlist/listselect";
        	$.modal.open("歌单列表",url,"","",setLists);
        }
        /**展示选择音频*/
        function showFileList(){
        	var url = ctx + "work/file/filelist";
        	$.modal.open("音频列表",url,"","",setFiles);
        }
        function setFiles(index, layero){
        	var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对象，执行iframe页的方法：
        	returnData = null;
        	iframeWin.getChecked();//调用子页面的方法
        	if(returnData){
        		var size = returnData.length;
        		$.modal.confirm("确认要导入选中的" + size + "条音频么?", function() {
        			dataInTable(returnData);
            	});
        		layer.close(index);
        	}
        }
        /**歌单导入数据*/
        function setLists(index, layero){
        	var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对象，执行iframe页的方法：
        	returnData = null;
        	iframeWin.getChecked();//调用子页面的方法
        	if(returnData){
        		var size = returnData.length;
        		$.modal.confirm("确认要导入选中的" + size + "条歌单中的音频么?", function() {
        			var url = ctx + "work/songlist/getListById";
        			var songData = "";
        			for(var i = 0,size = returnData.length;i<size;i++){
        				if($.common.isNotEmpty(returnData[i].songData)){
        					songData += returnData[i].songData + ",";
        				}
        			}
        			var data ={
        					'songData': songData
        			}
        			var callback = function(result){//回调方法
        				if (result.code == web_status.SUCCESS) {
                        	$.modal.msgSuccess("导入成功");
                        	/**添加逻辑*/
        					dataInTable(result.rows);
                        }  else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        }  else {
                        	$.modal.alertError(result.msg);
                        }
                    	$.modal.closeLoading();
        			}
        			var config = {
                	        url: url,
                	        type: "post",
                	        dataType: "json",
                	        data: data,
                	        beforeSend: function () {
                	        	$.modal.loading("正在处理中，请稍后...");
                	        },
                	        success: function(result) {
                	        	callback(result);
                	        }
                	    };
                	$.ajax(config);//ajax请求
            		//putData();
            	});
        		layer.close(index);
        	}
        }
        function queryTerminalTree()
		{
			var domainIds = $("#domainIds").val();
			var terIds = $("#terIds").val();
			var url = prefix + "/treeData?domainIds="+domainIds+"&terIds="+terIds;
			var options = {
		        url: url,
		        expandLevel: 1,
		        onCheck : zOnClick,
		        view: {
			        selectedMulti: true      // 设置是否允许同时选中多个节点
			    },
			    check: {
				    enable: true             // 置 zTree 的节点上是否显示 checkbox / radio
				}
		    };
			$.tree.init(options);
			function zOnClick(event, treeId, treeNode) {
				
			}
		}
        /**table插入数据*/
		function dataInTable(data){
			var res = $.table.getData();
			res.forEach(function(element) {
				data.push(element);
			});
			data = uniqueFn(data);
			queryFileList(data);
			putData(data);
		}
		function uniqueFn(arr) {
			  var ret = [];
			  var hash = {};
			  for (var i = 0; i < arr.length; i++) {
			    var item = arr[i];
			    var key = item.fileId;
			    if (hash[key] !== 1) {
			      ret.push(item);
			      hash[key] = 1;
			    }
			  }
			  return ret
		}
        /*批量删除*/
        function removeAll(){
			table.set();
        	var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.affectedRowIds() : $.table.selectColumns(table.options.uniqueId);
        	if (rows.length == 0) {
        		$.modal.alertWarning("请至少选择一条记录");
        		return;
        	}
        	$.modal.confirm("确认要删除选中的" + rows.length + "条音频吗?", function() {
    			var selectedRows = $("#" + table.options.id).bootstrapTable('getAllSelections');
	        	var size = selectedRows.length;
	    		for(var i = 0;i<size;i++){
	    			$.table.remove(selectedRows[i].fileId);
	    		}
	    		putData();
        	});
		}
		/**拖拽方法*/
		function saveRows(data){
			putData(data);
		}
		/**存放数据*/
		function putData(data){
			if($.common.isEmpty(data)){
				data = $.table.getData();
			}
			var len = "";
			if($.common.isNotEmpty(data)){
				for(var i=0,size = data.length;i<size;i++){
					len += data[i].fileId+",";
				}
				if($.common.isNotEmpty(len)){
					len = $.common.removeLast(len);
					$("#songData").val(len);
				}
			}else{
				$("#songData").val("");
			}
		}
		
		function putReturn(res){
			returnData = JSON.parse(JSON.stringify(res));
		}
    </script>
</body>
</html>