<!DOCTYPE html>
<!--[if IE]> <th:block th:include="include :: RangeSlider-ie-css" /> <![endif]-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('文件广播')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: RangeSlider-css" />
</head>
<body class="gray-bg">
	<input id="terIds"   name="terIds"    type="hidden"/>
	<input id="domainIds"   name="domainIds"    type="hidden"/>
	<input id="songData"   name="songData"    type="hidden"/>
	<input id="taskId"   name="taskId"    type="hidden" th:value="${taskId}"/>
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 终端选择
				</div>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" id="btnTerminal" title="管理终端"><i class="fa fa-edit"></i></i></button>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新分区"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree treeselect"></div>
			</div>
		</div>
	 </div>
	 <div class = "ui-layout-south">
	 	<div class="box box-main">
	 		<div class="ibox-content">
		 		<div class = "col-sm-1">
	        		<div class="text-center layui-layer-photos" id="layer-photos-demo">
	                   <a onclick = "showLargeImg()"><img class="img-md" data-height='auto' data-width='auto' data-target='self' id = "showImg"/></a>
	                </div>
		        </div>
	        	<div class = "col-sm-11">
	        		<div calss = "row">
		        		<div class="icon-view-play" role="group">
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-liebiao" id = "ORDER" onclick="fileCastTypeChange(this)" title = "顺序播放">
					            </a>
					            <a class="icon iconfont icon-music_repeat_button" id = "LIST" onclick="fileCastTypeChange(this)" title = "列表循环" style="display:none;">
					            </a>
					            <a class="icon iconfont icon-music_shuffle_button" id = "RANDOM" onclick="fileCastTypeChange(this)" title = "随机播放" style="display:none;">
					            </a>
					            <a class="icon iconfont icon-danquxunhuan" id = "SINGLE" onclick="fileCastTypeChange(this)" title = "单曲循环" style="display:none;">
					            </a>
				            </div>
				             <div class="col-sm-1">
								<h4 align ="right" style = "margin-top: 8px; margin-bottom: 0px;">级别:</h4>
							 </div>
				             <div class="col-sm-2" style = "padding-right: 0px; padding-left: 0px;">
				                 <select name="castLevel" id="castLevel" class="form-control m-b" style="margin-bottom: 0px;" th:with="type=${@dict.getType('work_priority')}">
				                     <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${dict.isDefault == 'Y'}"></option>
				                 </select>
				             </div>
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-music_rewind_button" onclick="showFileList()" title = "上一曲">
					            </a>
				            </div>
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-music_pause_button" onclick="showSongList()" title = "暂停" style="display:none;">
					            </a>
					            <a class="icon iconfont icon-music_play_button" onclick="startCast()" title = "播放" >
					            </a>
				            </div>
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-music_fastforward_button" onclick="removeAll()" title = "下一曲">
					            </a>
				            </div>
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-music_stop_button" onclick="showSongList()" title = "停止">
					            </a>
				            </div>
		        			<div class="col-sm-1">
					            <a class="icon iconfont icon-music_mute" id = "VOLMUTE" onclick="volChange(this)" title = "切换静音" style="display:none;">
					            </a>
					            <a class="icon iconfont icon-music_volume_down" id = "VOLDOWN"  onclick="volChange(this)" title = "切换静音" style="display:none;">
					            </a>
					            <a class="icon iconfont icon-music_volume_up" id = "VOLUP" onclick="volChange(this)" title = "切换静音" >
					            </a>
				            </div>
				            <div class="col-sm-3" style = "margin-top: 5px;">
								<input type="range" class = "slider-small" title = "30">
								<h5 align ="center" id = "volNum" style = "margin-top: 0px; margin-bottom: 0px;">30</h5>
							</div>
			        	</div>
	        		</div>
			 	</div>
        		 <div class="footer" style = "height:64px">
                    <div class="row">
						<div class="col-xs-1">
							<h4 align ="right" id = "toDuration" style = "margin-top: 0px;">0:00</h4>
						</div>
			        	<div class="col-xs-11">
							<input type="range" class = "slider-normal"> 
						</div>
					</div>
                    <div class="row" >
	                    <div class="col-xs-11" style = "text-align:center; margin-top: 0px;">
	                    	<h3 id= "showTitle">已选音频</h3>
	                    </div>
                    	<div class="col-xs-1">
				        </div>
					</div>
				</div>
        		</div>
        		</div>
		 	</div>
        </div>
	 </div>
     <div class="ui-layout-center">
     	 <div class="icon-view-plus" id="toolbar" role="group">
            <a class="icon iconfont icon-yinyueset" onclick="showFileList()" shiro:hasPermission="work:filecast:list" title = "音频列表">
            </a>
            <a class="icon iconfont icon-music_playlist" onclick="showSongList()" shiro:hasPermission="work:filecast:add" title = "歌单导入">
            </a>
            <a class="icon iconfont icon-shanchu" onclick="removeAll()" title = "删除">
            </a>
            
        </div>
		<div class="col-sm-12 select-table table-striped" id="table-div" style = "margin-top: 0px;">
		    <p class="select-title">已选音频</p>
			<table id="bootstrap-table"
			 data-use-row-attr-func="true"
			 data-reorderable-rows="true" ></table>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <th:block th:include="include :: bootstrap-table-reorder-js" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<th:block th:include="include :: RangeSlider-js" />
    <script th:inline="javascript">
        var prefix = ctx + "work/filecast";
        var workSongDatas = [[${@dict.getType('work_song_status')}]];
        var returndata;
        var isFileCast = false;
        var fileCastType = "ORDER";
		function test(){
			$('.select-table').slideToggle(300);
		}
		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 245 });
		    /**广播列表,终端列表以及广播任务初始化**/
			var url = prefix + "/findFileCast";
        	var data = {taskId : $('#taskId').val()};
        	var callback = function(res){
        		if (res.code == web_status.SUCCESS) {
					if($.common.isNotEmpty(res.data)){
						/**有任务初始化*/
						isFileCast = true;
						
					}else{
						/**无任务初始化*/
						queryFileList();
					    queryTerminalTree();
					    showImg("/img/default.jpg");
					    /**进度条初始化*/
					    $('.slider-normal').RangeSlider({ min: 0,   max: 100,  step: 1, callback: volchange, finishedCallback: volfinished});
						$('.slider-small').RangeSlider({ min: 0,   max: 40,  step: 1, callback: volchange, finishedCallback: volfinished});
						//$('.slider-normal').attr("disabled",true);
					    setValue();
					}

        		}else if (res.code == web_status.WARNING) {
                    $.modal.alertWarning(res.msg)
                }  else {
                	$.modal.alertError(res.msg);
                }
        	};
        	var config = {
        	        url: url,
        	        type: "post",
        	        dataType: "json",
        	        data: data,
        	        success: function(result) {
        	        	if (typeof callback == "function") {
        	        	    callback(result);
        	        	}
        	        }
        	    };
        	$.ajax(config);
        	
		});
		function volchange($input){
			$("#volNum").text($input.value);
			$input.title = $input.value;
			if($input.valueAsNumber > 20){
				if($("#VOLUP").is(':hidden')){
					$.common.toHide("VOLMUTE");
					$.common.toHide("VOLDOWN");
					$.common.toShow("VOLUP");
				}
			}else if($input.valueAsNumber == 0){
				if($("#VOLMUTE").is(':hidden')){
					$.common.toHide("VOLUP");
					$.common.toHide("VOLDOWN");
					$.common.toShow("VOLMUTE");
				}
			}else if($input.valueAsNumber >0 && $input.valueAsNumber <= 20){
				if($("#VOLDOWN").is(':hidden')){
					$.common.toHide("VOLUP");
					$.common.toHide("VOLMUTE");
					$.common.toShow("VOLDOWN");
				}
			}
		}
		function volfinished(){
			
		}
		/**设置进度条位置*/
		function setValue(value){
			if($.common.isEmpty(value)){
				value = 30;
			}
			var data = $(".slider-small" );
			data[0].value = value;
			var userAgent = navigator.userAgent.toLowerCase();
			if((userAgent.indexOf("edge") <0) && (userAgent.indexOf( "webkit" )> 0 )){
				data.css( 'background-size', value/40*100 + '% 100%' ); 
			}
		}
        function queryFileList(data){
        	$.table.destroy();
        	if($.common.isEmpty(data)){
        		data = [];
        	}
            var options = {
                //url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        //striped:true,
                sidePagination : "client",
                height : 500,
                pageSize:10000,
                pageList:[10000],
		        onReorderRow:function(data){
		        	putData(data);
		        },
		        uniqueId : "fileId",
		        data : data,
		        columns: [{
                	field: 'state',
                    checkbox: true
                },
                {
                    align: 'center',
                    field : 'fileId', 
                    title : '音频编号',
                    visible: false
                },
                {
                    align: 'center',
                    field : 'fileName', 
                    title : '音频名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                   	}
                },
                {
                    field : 'delFlag', 
                    title : '状态',
		            width: '5%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	if(value == '2'){
                    		value = '1';
                    	}
                       	return $.table.selectDictLabel(workSongDatas, value);
                    },
                },
                {
                    align: 'center',
                    field : 'songName', 
                    title : '歌曲名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 15, "");
                   	}
                },
                {
                    align: 'center',
                    field : 'artist', 
                    title : '歌手名称',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 10, "");
                   	}
                },
                {
                    field : 'album', 
                    title : '歌曲专辑',
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 10, "");
                   	}
                },
                {
                    field : 'duration', 
                    title : '音频时长',
                    align: 'center',
                   	formatter: function(value, row, index) {
                   		var num = Math.floor(value/1000);
                   		return Math.floor(num/60)+":"+(num%60 >= 10?num%60:('0'+num%60));
                   	}
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	 var actions = [];
                         actions.push('<a class="icon-view-small " href="javascript:void(0)" onclick="remove(\'' + row.fileId + '\')"><i class="icon iconfont icon-shanchu1" title = "删除"></i></a>');
                         return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        }
        
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryTerminalTree();
		});

		/* 终端管理 */
		$('#btnTerminal').click(function() {
			var url = ctx + "system/terminal";
			$.modal.openTab("终端管理", url);
		});
		/**展示选择歌单*/
        function showSongList(){
        	var url = ctx + "work/songlist/listselect";
        	$.modal.open("歌单列表",url,"","",setLists);
        }
        /**展示选择音频*/
        function showFileList(){
        	var url = ctx + "work/file/filelist";
        	$.modal.open("音频列表",url,"","",setFiles);
        }
        function setFiles(index, layero){
        	var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对象，执行iframe页的方法：
        	returnData = null;
        	iframeWin.getChecked();//调用子页面的方法
        	if(returnData){
        		var size = returnData.length;
        		$.modal.confirm("确认要导入选中的" + size + "条音频么?", function() {
        			dataInTable(returnData);
            	});
        		layer.close(index);
        	}
        }
        /**歌单导入数据*/
        function setLists(index, layero){
        	var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对象，执行iframe页的方法：
        	returnData = null;
        	iframeWin.getChecked();//调用子页面的方法
        	if(returnData){
        		var size = returnData.length;
        		$.modal.confirm("确认要导入选中的" + size + "条歌单中的音频么?", function() {
        			var url = ctx + "work/songlist/getListById";
        			var songData = "";
        			for(var i = 0,size = returnData.length;i<size;i++){
        				if($.common.isNotEmpty(returnData[i].songData)){
        					songData += returnData[i].songData + ",";
        				}
        			}
        			var data ={
        					'songData': songData
        			}
        			var callback = function(result){//回调方法
        				if (result.code == web_status.SUCCESS) {
                        	$.modal.msgSuccess("导入成功");
                        	/**添加逻辑*/
        					dataInTable(result.rows);
                        }  else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        }  else {
                        	$.modal.alertError(result.msg);
                        }
                    	$.modal.closeLoading();
        			}
        			var config = {
                	        url: url,
                	        type: "post",
                	        dataType: "json",
                	        data: data,
                	        beforeSend: function () {
                	        	$.modal.loading("正在处理中，请稍后...");
                	        },
                	        success: function(result) {
                	        	callback(result);
                	        }
                	    };
                	$.ajax(config);//ajax请求
            		//putData();
            	});
        		layer.close(index);
        	}
        }
        function queryTerminalTree()
		{
			var domainIds = $("#domainIds").val();
			var terIds = $("#terIds").val();
			var url = prefix + "/treeData?domainIds="+domainIds+"&terIds="+terIds;
			var options = {
		        url: url,
		        expandLevel: 1,
		        onCheck : zOnClick,
		        view: {
			        selectedMulti: true      // 设置是否允许同时选中多个节点
			    },
			    check: {
				    enable: true             // 置 zTree 的节点上是否显示 checkbox / radio
				}
		    };
			$.tree.init(options);
			function zOnClick(event, treeId, treeNode) {
				
			}
		}
        /**table插入数据*/
		function dataInTable(data){
			var res = $.table.getData();
			res.forEach(function(element) {
				data.push(element);
			});
			data = uniqueFn(data);
			queryFileList(data);
			putData(data);
		}
		function uniqueFn(arr) {
			  var ret = [];
			  var hash = {};
			  for (var i = 0; i < arr.length; i++) {
			    var item = arr[i];
			    var key = item.fileId;
			    if (hash[key] !== 1) {
			      ret.push(item);
			      hash[key] = 1;
			    }
			  }
			  return ret
		}
        /*批量删除*/
        function removeAll(){
			table.set();
        	var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.affectedRowIds() : $.table.selectColumns(table.options.uniqueId);
        	if (rows.length == 0) {
        		$.modal.alertWarning("请至少选择一条记录");
        		return;
        	}
        	$.modal.confirm("确认要删除选中的" + rows.length + "条音频吗?", function() {
    			var selectedRows = $("#" + table.options.id).bootstrapTable('getAllSelections');
	        	var size = selectedRows.length;
	    		for(var i = 0;i<size;i++){
	    			$.table.remove(selectedRows[i].fileId);
	    		}
	    		putData();
        	});
		}
        /*删除*/
        function remove(fileId){
        	if(isFileCast){
            	$.modal.confirm("确认要删除选中的1条音频吗?", function() {
    	    		$.table.remove(fileId);
    	    		putData();
            	});
        	}else{
	    		$.table.remove(fileId);
	    		putData();
        	}
		}
		/**存放数据*/
		function putData(data){
			if($.common.isEmpty(data)){
				data = $.table.getData();
			}
			var len = "";
			if($.common.isNotEmpty(data)){
				for(var i=0,size = data.length;i<size;i++){
					len += data[i].fileId+",";
				}
				if($.common.isNotEmpty(len)){
					len = $.common.removeLast(len);
					$("#songData").val(len);
				}
			}else{
				$("#songData").val("");
			}
		}
		/**给子页面调用返回方法*/
		function putReturn(res){
			returnData = JSON.parse(JSON.stringify(res));
		}
		/**音量类型改变方法*/
		function volChange(data){
			if($.common.equals(data.id,"VOLMUTE")){//
				$.common.toHide(data.id);
			}
		}
		/**文件广播任务类型改变**/
		function fileCastTypeChange(data){
			if($.common.equals(data.id,"ORDER")){
				$.common.toHide(data.id);
				$.common.toShow("LIST");
				fileCastType = "LIST";
			}else if($.common.equals(data.id,"LIST")){
				$.common.toHide(data.id);
				$.common.toShow("RANDOM");
				fileCastType = "RANDOM";
			}else if($.common.equals(data.id,"RANDOM")){
				$.common.toHide(data.id);
				$.common.toShow("SINGLE");
				fileCastType = "SINGLE";
			}else if($.common.equals(data.id,"SINGLE")){
				$.common.toHide(data.id);
				$.common.toShow("ORDER");
				fileCastType = "ORDER";
			}
		}
		/**设置图片**/
		function showImg(src){
			$("#showImg").attr("src",src);
			$("#showImg").attr("layer-src",src);
		}
		/**初始化文件广播*/
		function initFileCast(){
			$('.slider-normal').RangeSlider({ min: 0,   max: 100,  step: 1, callback: change, finishedCallback:finished});
		}
		/**播放按钮触发**/
		function startCast(){
			if(isFileCast){
				/**有任务触发，是暂停启动*/
			}else{
				/**无任务触发，是创建任务**/
				/**判断元素是否齐全*/
				if(!selectNode()){
					$.modal.tipWarning('#tree',"请选择分区或终端");
					return;
				}
				if($.common.isEmpty($("#songData").val())){
					$.modal.tipWarning('#bootstrap-table',"请选择播放的音频",3);
					return;
				}
				/**创建任务*/
				var url = prefix + "/startFile";
    			var data ={
    					'songData': $("#songData").val(),
    					'fileCastType': fileCastType,
    					'vol': $(".slider-small").val(),
    					'castLevel': $("#castLevel").val(),
    					'domainidlist': $("#domainIds").val(),
    					'teridlist': $("#terIds").val()
    			}
    			var callback = function(result){//回调方法
    				if (result.code == web_status.SUCCESS) {
                    	$.modal.msgSuccess("创建成功");
                    	/**添加逻辑*/
                    	
                    }  else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg)
                    }  else {
                    	$.modal.alertError(result.msg);
                    }
                	$.modal.closeLoading();
    			}
    			var config = {
            	        url: url,
            	        type: "post",
            	        dataType: "json",
            	        data: data,
            	        beforeSend: function () {
            	        	$.modal.loading("正在处理中，请稍后...");
            	        },
            	        success: function(result) {
            	        	callback(result);
            	        }
            	    };
            	$.ajax(config);//ajax请求
				//$.modal.tipSuccess('.slider-normal',"提示");
			}
		}
		/**选中节点处理*/
		function selectNode(){
			var trees = tree.getCheckedNodes();
			if (tree.getCheckedNodes() && tree.getCheckedNodes().length > 0) {
				var ters = formatMulTree(tree.getCheckedNodes());
				$("#terIds").val(ters.terIds);
				$("#domainIds").val(ters.domainIds); 
				return true;
			}else{
				$("#terIds").val("");
				$("#domainIds").val("");
				return false;
			}
		}
		//选中节点处理
		function formatMulTree(trees){
			var data = {
					terIds:"",
					domainIds : ""
			};
			//分类
			var doms = [],ters = []
			for(var i = 0,size = trees.length;i<size;i++){
				if(trees[i].ter){
					ters.push(trees[i]);
				}else{
					doms.push(trees[i]);
				}
			}
			//判断全选
			for(var i = 0,size = doms.length;i<size;i++){
				if(doms[i].check_Child_State != 1){//为全选
					for(var j=ters.length-1;j>=0;j--){
						if($.common.isNotEmpty(ters[j].pId) && ters[j].pId == doms[i].id){
							ters.splice(j, 1);
						}
					}
					data.domainIds += doms[i].id + ",";
				}else{
					data.domainIds += "_" +  doms[i].id + ",";
				}
			}
			//终端遍历填充字符
			for(var i=0,size = ters.length;i<size;i++){
				data.terIds += ters[i].id +",";
			}
			if(!$.common.isEmpty(data.terIds)){
				data.terIds = $.common.removeLast(data.terIds);
			}
			if(!$.common.isEmpty(data.domainIds)){
				data.domainIds = $.common.removeLast(data.domainIds);
			}
			return data;
		}
		/**大图显示**/
		function showLargeImg(){
			layer.photos({
				  photos: '#layer-photos-demo'
				  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
				}); 
		}
		/***/
    </script>
</body>
</html>