<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('音频信息列表')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse file-controller">
                <form id="file-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>所属类型:</p>
                                <select name="filePath">
                                    <option th:value="${@config.getKey('work.file')}">文件广播</option>
                                    <option th:value="${@config.getKey('work.point')}">终端点播</option>
                                    <option th:value="${@config.getKey('work.word')}">文本广播</option>
                                </select>
	                        </li>
                        	<li>
                                <p>音频名称:</p>
                                <input type="text" name="fileName"/>
                            </li>
                            <li>
                                <p>歌曲名称:</p>
                                <input type="text" name="songName"/>
                            </li>
                            <li>
                                <p>歌手名称:</p>
                                <input type="text" name="artist"/>
                            </li>
                            <li>
                                <p>文件状态:</p>
                                <select name="delFlag" th:with="type=${@dict.getType('work_song_status')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <!-- <li>
                                <p>音频专辑：</p>
                                <input type="text" name="album"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
			<div class="col-sm-12 search-collapse file-controller" id="file-div" style="display:none;">
                <div class="form-group">
                    <div class="file-loading">
		            	<input id="fileinput-demo-1" type="file" multiple>
		        	</div>
                </div>
            </div>
            <div class="col-sm-12 search-collapse audio-controller" id="audio-div" style="display:none;">
                <div class="ibox-title">
                    <h5>音频播放</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                	<audio class = "col-md-12" controls="controls" autoplay="autoplay" id = "audio" loop = "loop">
            		</audio>
                </div>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="showUpload()" shiro:hasPermission="work:file:add">
                    <i class="fa fa-plus"></i> 上传
                </a>
<!--                 <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="work:file:edit">
                    <i class="fa fa-edit"></i> 修改
                </a> -->
                <a class="btn btn-primary" onclick="$.operate.add()" shiro:hasPermission="work:file:add">
                    <i class="fa fa-language"></i> 生成
                </a>
                <a class="btn btn-warning" onclick="downloadAll()" shiro:hasPermission="work:file:export">
                   <i class="fa fa-download"></i> 下载
                </a> 
                <a class="btn btn-danger multiple disabled" onclick="removeAll()" shiro:hasPermission="work:file:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-primary" onclick="reloadAll()" shiro:hasPermission="work:file:edit">
                    <i class="fa fa-refresh"></i> 重新扫描
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        /* var editFlag = [[${@permission.hasPermi('work:file:edit')}]]; */
        var removeFlag = [[${@permission.hasPermi('work:file:remove')}]];
        var exportFlag = [[${@permission.hasPermi('work:file:export')}]];
        var workSongDatas = [[${@dict.getType('work_song_status')}]];
        var prefix = ctx + "work/file";
        var openFlag = false;
        $("#fileinput-demo-1").on("fileuploaded", function (event, data, previewId, index) {debugger
         	var result = data.response;
        	if(result.code == 0 || result.code == 200){
        		$.modal.msgSuccess("文件上传成功");
        		$.table.refresh();
        	}else{
        		$.modal.msgError(result.msg);
        	}
         });
         $('#fileinput-demo-1').on('fileerror', function(event, data, msg) {
         	$.modal.msgError("上传失败，情检查网络连接");
         });
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add", 
                /*updateUrl: prefix + "/edit/{id}",*/
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "音频",
                showSearch:false,
                clickToSelect:true,
                rememberSelected:true,
                uniqueId : "fileId",
                columns: [{
                	field: 'state',
                    checkbox: true
                },
                {
                    align: 'center',
                    field : 'fileId', 
                    title : '音频编号',
                    visible: false
                },
                {
                    field : 'fileName', 
                    title : '音频名称',
		            width: '25%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 40, "");
                   	}
                },
                {
                    field : 'songName', 
                    title : '歌曲名称',
		            width: '20%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 30, "");
                   	}
                },
                {
                    field : 'delFlag', 
                    title : '状态',
		            width: '5%',
                    align: "left",
                    formatter: function(value, row, index) {
                       	return $.table.selectDictLabel(workSongDatas, value);
                    },
                },
                {
                    field : 'artist', 
                    title : '歌手名称',
		            width: '15%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 15, "");
                   	}
                },
                {
                    field : 'album', 
                    title : '歌曲专辑',
		            width: '15%',
                    align: "left",
                    formatter: function(value, row, index) {
                    	return $.table.tooltip(value, 15, "");
                   	}
                },
                {
                    field : 'duration', 
                    title : '音频时长',
		            width: '5%',
                    align: 'center',
                   	formatter: function(value, row, index) {
                   		var num = Math.floor(value/1000);
                   		return Math.floor(num/60)+":"+(num%60 >= 10?num%60:('0'+num%60));
                   	}
                },
                {
                    title: '操作',
                    align: 'center',
		            width: '15%',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<div class="icon-view" role="group">');
                        if(row.fileType.indexOf('2') >= 0){
                            actions.push('<a class="icon-view" href="javascript:void(0)" onclick="$.common.toViewInfo(\'' + $.common.transform(row.remark) + '\',\'备注\')"><i class="icon iconfont icon-pinglun icon-view-yellow" title = "备注"></i></a>');
                        }
                        if(row.delFlag == 0){
                            actions.push('<a class="icon-view '+ exportFlag +'" href="javascript:void(0)" onclick="toAudio(\'' + encodeURI(row.virPath) + '\')"><i class="icon iconfont icon-erji1 icon-view-block" title = "试听"></i></a>');
                            actions.push('<a class="icon-view '+ exportFlag +'" download  href="' + encodeURI(row.virPath) + '"><i class="icon iconfont icon-xiazai" title = "下载"></i></a>');
                            actions.push('<a class="icon-view ' + removeFlag + '" href="javascript:void(0)" onclick="remove(\'' + row.fileId + '\',\'' + row.filePath + '\',\'' + row.imagePath + '\')"><i class="icon iconfont icon-shanchu1 icon-view-red" title = "删除"></i></a>');
                        }
                        actions.push('</div>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function initUpload(uploadType){
        	$("#fileinput-demo-1").fileinput({
                'theme': 'explorer-fas',
                'uploadUrl':  '/common/audio/upload',
                overwriteInitial: false,
                initialPreviewAsData: true,
                uploadExtraData:function(){
               	 var data = {
               			 'type':uploadType
               	 }
               	 return data;
                },
                allowedFileTypes:['audio']
            });
        }
		//处理按钮点击,显示上传文件
		function showUpload(){
			var b = $('#file-div').is(':hidden');
			if(b){
				if(!openFlag){
					openFlag = true;
					layer.confirm("请选择上传音频所属的类型", {
		    	        icon: 3,
		    	        title: "上传类型",
		    	        btn: ['文件广播','终端点播']
		    	    },function (index) {
		    	    	layer.close(index);
		    			initUpload('work.file');
		    			$('.file-controller').slideToggle(300);
		    	    },function (index) {
		    	    	layer.close(index);
		    			initUpload('work.point');
		    			$('.file-controller').slideToggle(300);
		    	    });
				}else{
	    			$('.file-controller').slideToggle(300);
				}
			}else{
    			$('.file-controller').slideToggle(300);
			}
		}
		function toAudio(path){
			if($('#audio-div').is(':hidden')){
				$('.audio-controller').slideToggle(300);
			}
			$('#audio').attr('src',path);
			var audio=$('#audio').get('0');
			audio.load();
		}
		$(".collapse-link").click(function() {
		       var div_ibox = $(this).closest("div.audio-controller"),
		       e = $(this).find("i"),
		       i = div_ibox.find("div.ibox-content");
		       i.slideToggle(200),
		       e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
		       div_ibox.toggleClass("").toggleClass("border-bottom"),
		       setTimeout(function() {
		       	div_ibox.resize();
		       }, 50);
		   }), $(".close-link").click(function () {
			   if(!$('#audio-div').is(':hidden')){
					$('.audio-controller').slideToggle(300);
				}
				var audio=$('#audio').get('0');
				audio.pause();
		});
		function downloadAll(){
			table.set();
        	var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.affectedRowIds() : $.table.selectColumns(table.options.uniqueId);
        	if (rows.length == 0) {
        		$.modal.alertWarning("请至少选择一条记录");
        		return;
        	}
        	$.modal.confirm("确认要下载选中的" + rows.length + "条音频吗?", function() {
    			var selectedRows = table.rememberSelecteds[table.options.id];
            	var download = function download(href) {
	        	      var a = document.createElement("a"), //创建a标签
	                  e = document.createEvent("MouseEvents"); //创建鼠标事件对象
	                  e.initEvent("click", false, false); //初始化事件对象
	                  a.href = href; //设置下载地址
	                  a.download = ""; 
	                  a.dispatchEvent(e); //给指定的元素，执行事件click事件
	              	};
        		for(var i = 0,limit = selectedRows.length;i<limit;i++){
        			download(encodeURI(selectedRows[i].virPath));
        		}
        	});
		}
		function removeAll(){
			table.set();
        	var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.affectedRowIds() : $.table.selectColumns(table.options.uniqueId);
        	if (rows.length == 0) {
        		$.modal.alertWarning("请至少选择一条记录");
        		return;
        	}
        	$.modal.confirm("确认要删除选中的" + rows.length + "条音频吗?", function() {
    			var selectedRows = table.rememberSelecteds[table.options.id];
    			var url = table.options.removeUrl;
    			var data = { "ids": rows.join() };
    			var paths = "",imagePaths = "";
    			for(var i = 0,limit = selectedRows.length;i < limit;i++){
                    paths += selectedRows[i].filePath + "|";
    				imagePaths += selectedRows[i].imagePath + ",";
    			}
    			data.paths = paths;
    			data.imagePaths = imagePaths;
    			$.operate.submit(url, "post", "json", data);
        	});
		}
		function remove(id,path,imagePath){
			table.set();
        	$.modal.confirm("确定删除该条" + table.options.modalName + "信息吗？", function() {
                var url = $.common.isEmpty(id) ? table.options.removeUrl : table.options.removeUrl.replace("{id}", id);
                if(table.options.type == table_type.bootstrapTreeTable) {
                	$.operate.get(url);
                } else {
            	    var data = { "ids": id};
            	    data.paths = path;
            	    data.imagePaths = imagePath;
            	    $.operate.submit(url, "post", "json", data);
                }
        	});
		}
		function reloadAll(){
		    var url = prefix + '/reloadAll';
            $.operate.post(url);
		}
    </script>
</body>
</html>