<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('广播方案列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>方案名称：</label>
                                <input type="text" name="schemeName"/>
                            </li>
                            <li>
                                <label>方案状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_job_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>方案级别：</label>
                                <select name="schemePriority" th:with="type=${@dict.getType('work_priority')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="work:scheme:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="work:scheme:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="work:scheme:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('work:scheme:edit')}]];
        var removeFlag = [[${@permission.hasPermi('work:scheme:remove')}]];
        var workPriority = [[${@dict.getType('work_priority')}]];
        var prefix = ctx + "work/scheme";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "广播方案",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'schemeId', 
                    title: '广播任务方案ID',
                    visible: false
                },
                {
                    field: 'schemeName', 
                    title: '方案名称',
                    formatter: function(value, row, index) {
                   	 return '<a href="javascript:void(0)" onclick="openjob(\'' + row.schemeId + '\')">' + value + '</a>';
                   }
                },
                {
                    field: 'status', 
                    title: '方案状态',
                    formatter: function (value, row, index) {
   		        		return statusTools(row);
   		        	}
                },
                {
                    field: 'schemePriority', 
                    title: '方案级别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(workPriority, value);
                    }
                },
                {
                    field: 'remark', 
                    title: '方案备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.schemeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.schemeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        /* 方案状态显示 */
		function statusTools(row) {
		    if (row.status == 1) {
    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.schemeId + '\')"></i> ';
    		} else {
    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.schemeId + '\')"></i> ';
    		}
		}
        
		/* 方案管理-停用 */
		function disable(schemeId) {
			$.modal.confirm("确认要停用此方案吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "schemeId": schemeId, "status": 1 });
		    })
		}

		/* 方案管理-启用 */
		function enable(schemeId) {
			$.modal.confirm("确认要启用此方案吗？", function() {
				$.operate.post(prefix + "/changeStatus", { "schemeId": schemeId, "status": 0 });
		    })
		}
		
		/* 方案任务查询 */
		function openjob(schemeId) {
		    var url = ctx + "work/schemeTask";
		    url += '?schemeId=' + schemeId;
		    $.modal.openTab("定时任务", url);
		}
    </script>
</body>
</html>