<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audioweb.work.mapper.WorkFileMapper">
    
    <resultMap type="WorkFile" id="WorkFileResult">
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileType"    column="file_type"    />
        <result property="filePath"    column="file_path"    />
        <result property="virPath"    column="vir_path"    />
        <result property="songName"    column="song_name"    />
        <result property="artist"    column="artist"    />
        <result property="album"    column="album"    />
        <result property="duration"    column="duration"    />
        <result property="format"    column="format"    />
        <result property="bitRate"    column="bit_rate"    />
        <result property="sampleRate"    column="sample_rate"    />
        <result property="startByte"    column="start_byte"    />
        <result property="musicLength"    column="music_length"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWorkFileVo">
        select file_id, file_name, file_type, file_path, vir_path, song_name, artist, album, duration, format, bit_rate, sample_rate, start_byte, music_length, del_flag, create_by, update_time, remark from work_file
    </sql>

    <select id="selectWorkFileList" parameterType="WorkFile" resultMap="WorkFileResult">
        <include refid="selectWorkFileVo"/>
        <where>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="songName != null  and songName != ''"> and song_name like concat('%', #{songName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and file_type like concat('%', #{fileType}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path like concat(#{filePath}, '%')</if>
            <if test="artist != null  and artist != ''"> and artist like concat('%', #{artist}, '%')</if>
            <if test="album != null  and album != ''"> and album like concat('%', #{album}, '%')</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectWorkFileById" parameterType="String" resultMap="WorkFileResult">
        <include refid="selectWorkFileVo"/>
        where file_id = #{fileId}
    </select>
        
    <insert id="insertWorkFile" parameterType="WorkFile">
        insert into work_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null  and fileId != ''">file_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="fileType != null  and fileType != ''">file_type,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="virPath != null  and virPath != ''">vir_path,</if>
            <if test="songName != null  and songName != ''">song_name,</if>
            <if test="artist != null  and artist != ''">artist,</if>
            <if test="album != null  and album != ''">album,</if>
            <if test="duration != null ">duration,</if>
            <if test="format != null  and format != ''">format,</if>
            <if test="bitRate != null ">bit_rate,</if>
            <if test="sampleRate != null ">sample_rate,</if>
            <if test="startByte != null ">start_byte,</if>
            <if test="musicLength != null ">music_length,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null and remark != ''">remark</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null  and fileId != ''">#{fileId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="fileType != null  and fileType != ''">#{fileType},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="virPath != null  and virPath != ''">#{virPath},</if>
            <if test="songName != null  and songName != ''">#{songName},</if>
            <if test="artist != null  and artist != ''">#{artist},</if>
            <if test="album != null  and album != ''">#{album},</if>
            <if test="duration != null ">#{duration},</if>
            <if test="format != null  and format != ''">#{format},</if>
            <if test="bitRate != null ">#{bitRate},</if>
            <if test="sampleRate != null ">#{sampleRate},</if>
            <if test="startByte != null ">#{startByte},</if>
            <if test="musicLength != null ">#{musicLength},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null and remark != ''">remark</if>
         </trim>
    </insert>

    <update id="updateWorkFile" parameterType="WorkFile">
        update work_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="fileType != null  and fileType != ''">file_type = #{fileType},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="virPath != null  and virPath != ''">vir_path = #{virPath},</if>
            <if test="songName != null  and songName != ''">song_name = #{songName},</if>
            <if test="artist != null  and artist != ''">artist = #{artist},</if>
            <if test="album != null  and album != ''">album = #{album},</if>
            <if test="duration != null ">duration = #{duration},</if>
            <if test="format != null  and format != ''">format = #{format},</if>
            <if test="bitRate != null ">bit_rate = #{bitRate},</if>
            <if test="sampleRate != null ">sample_rate = #{sampleRate},</if>
            <if test="startByte != null ">start_byte = #{startByte},</if>
            <if test="musicLength != null ">music_length = #{musicLength},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark}</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteWorkFileById" parameterType="String">
        delete from work_file where file_id = #{fileId}
    </delete>

    <delete id="deleteWorkFileByIds" parameterType="String">
        delete from work_file where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
    
    <update id="updateWorkFileList" parameterType="java.util.List" >
    	update 
    		work_file
    	<trim prefix="set" suffixOverrides=",">
    		<trim prefix="file_name =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.fileName != null and item.fileName != ''">
						when file_id = #{item.fileId} then #{item.fileName}
					</if>
				</foreach>
			</trim>
    		<trim prefix="file_type =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.fileType != null and item.fileType != ''">
						when file_id = #{item.fileId} then #{item.fileType}
					</if>
				</foreach>
			</trim>
    		<trim prefix="file_path =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.filePath != null and item.filePath != ''">
						when file_id = #{item.fileId} then #{item.filePath}
					</if>
				</foreach>
			</trim>
    		<trim prefix="vir_path =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.virPath != null and item.virPath != ''">
						when file_id = #{item.fileId} then #{item.virPath}
					</if>
				</foreach>
			</trim>
    		<trim prefix="song_name =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.songName != null and item.songName != ''">
						when file_id = #{item.fileId} then #{item.songName}
					</if>
				</foreach>
			</trim>
    		<trim prefix="artist =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.artist != null and item.artist != ''">
						when file_id = #{item.fileId} then #{item.artist}
					</if>
				</foreach>
			</trim>
    		<trim prefix="album =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.album != null and item.album != ''">
						when file_id = #{item.fileId} then #{item.album}
					</if>
				</foreach>
			</trim>
    		<trim prefix="duration =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.duration != null">
						when file_id = #{item.fileId} then #{item.duration}
					</if>
				</foreach>
			</trim>
    		<trim prefix="format =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.format != null and item.format != ''">
						when file_id = #{item.fileId} then #{item.format}
					</if>
				</foreach>
			</trim>
    		<trim prefix="bit_rate =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.bitRate != null">
						when file_id = #{item.fileId} then #{item.bitRate}
					</if>
				</foreach>
			</trim>
    		<trim prefix="sample_rate =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.sampleRate != null">
						when file_id = #{item.fileId} then #{item.sampleRate}
					</if>
				</foreach>
			</trim>
    		<trim prefix="start_byte =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.startByte != null">
						when file_id = #{item.fileId} then #{item.startByte}
					</if>
				</foreach>
			</trim>
    		<trim prefix="music_length =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.musicLength != null">
						when file_id = #{item.fileId} then #{item.musicLength}
					</if>
				</foreach>
			</trim>
    		<trim prefix="del_flag =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.delFlag != null and item.delFlag != ''">
						when file_id = #{item.fileId} then #{item.delFlag}
					</if>
				</foreach>
			</trim>
    		<trim prefix="create_by =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.createBy != null and item.createBy != ''">
						when file_id = #{item.fileId} then #{item.createBy}
					</if>
				</foreach>
			</trim>
    		<trim prefix="update_time =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.updateTime != null">
						when file_id = #{item.fileId} then #{item.updateTime}
					</if>
				</foreach>
			</trim>
    		<trim prefix="remark =(case" suffix="end),">
				<foreach collection="list" item="item">
					<if test="item.remark != null and item.remark != ''">
						when file_id = #{item.fileId} then #{item.remark}
					</if>
				</foreach>
			</trim>
    	</trim>
    	<where>
			file_id in
			<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				#{item.fileId}
			</foreach>
		</where>
    </update>
    
    
	<insert id="batchInsertWorkFiles" parameterType="java.util.List">
	    INSERT INTO work_file(file_id, file_name, file_type, file_path, vir_path, song_name, artist, album, duration, format, bit_rate, sample_rate, start_byte, music_length, create_by,remark)
	    VALUES
	    <foreach collection="list" item="item" separator=",">
	        (#{item.fileId},
	        #{item.fileName},
	        #{item.fileType},
	        #{item.filePath},
	        #{item.virPath},
	        #{item.songName},
	        #{item.artist},
	        #{item.album},
	        #{item.duration},
	        #{item.format},
	        #{item.bitRate},
	        #{item.sampleRate},
	        #{item.startByte},
	        #{item.musicLength},
	        #{item.createBy},
	        #{item.remark})
	    </foreach>
	</insert>
</mapper>