<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audioweb.quartz.mapper.SysJobMapper">

	<resultMap type="WorkSchemeTask" id="WorkSchemeTaskResult">
		<id     property="schemeTaskId"   column="scheme_task_id"  />
		<result property="jobId"          column="job_id"          />
		<result property="jobName"        column="job_name"        />
		<result property="jobGroup"       column="job_group"       />
		<result property="invokeTarget"   column="invoke_target"   />
		<result property="cronExpression" column="cron_expression" />
		<result property="misfirePolicy"  column="misfire_policy"  />
		<result property="concurrent"     column="concurrent"      />
		<result property="status"         column="status"          />
		<result property="createBy"       column="create_by"       />
		<result property="createTime"     column="create_time"     />
		<result property="updateBy"       column="update_by"       />
		<result property="updateTime"     column="update_time"     />
		<result property="startTime"      column="start_time"     />
		<result property="endTime"     	  column="end_time"     />
		<result property="nextValidTime"  column="next_valid_time"     />
		<result property="taskTiming"    column="task_timing"    />
        <result property="songData"    column="song_data"    />
        <result property="taskVol"    column="task_vol"    />
        <result property="taskDomainIds"    column="task_domain_ids"    />
        <result property="taskTerIds"    column="task_ter_ids"    />
        <result property="taskCastType"    column="task_cast_type"    />
		<result property="remark"         column="remark"          />
		<association property="workScheme"    column="scheme_id" javaType="WorkScheme" resultMap="workSchemeResult" />
	</resultMap>

	<resultMap id="workSchemeResult" type="WorkScheme">
		<id     property="schemeId"   column="scheme_id"     />
		<id     property="schemeName"   column="scheme_name"     />
		<id     property="status"   column="scheme_status"     />
		<id     property="schemePriority"   column="scheme_priority"     />
	</resultMap>

	<sql id="selectWorkSchemeTaskVo">
        select j.job_id, j.job_name, j.job_group, j.invoke_target, j.cron_expression, j.misfire_policy, j.concurrent, j.status, j.create_by, j.create_time,j.start_time, j.end_time, j.next_valid_time, j.remark ,
         t.scheme_task_id, t.song_data, t.task_cast_type, t.task_domain_ids, t.task_ter_ids, t.task_timing, t.task_vol,
         s.scheme_id, s.scheme_name, s.status as scheme_status, s.scheme_priority
		from work_scheme_task t left join sys_job j on t.job_id = j.job_id and j.del_flag = '0' inner join work_scheme s on j.job_group = 'schemeTask' + s.scheme_id and s.del_flag = '0'
    </sql>

	<select id="selectWorkSchemeTaskList" parameterType="WorkSchemeTask" resultMap="WorkSchemeTaskResult">
		<include refid="selectWorkSchemeTaskVo"/>
		<where>
			<if test="jobName != null and jobName != ''">
				AND j.job_name like concat('%', #{jobName}, '%')
			</if>
			<if test="jobGroup != null and jobGroup != ''">
				AND j.job_group = #{jobGroup}
			</if>
			<if test="status != null and status != ''">
				AND j.status = #{status}
			</if>
			<if test="invokeTarget != null and invokeTarget != ''">
				AND j.invoke_target like concat('%', #{invokeTarget}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(j.start_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(j.end_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
	</select>

	<select id="selectWorkSchemeTaskById" parameterType="Long" resultMap="WorkSchemeTaskResult">
		<include refid="selectWorkSchemeTaskVo"/>
		where t.scheme_task_id = #{schemeTaskId}
	</select>
	
	<select id="selectWorkSchemeTaskByIds" parameterType="String" resultMap="WorkSchemeTaskResult">
		<include refid="selectWorkSchemeTaskVo"/>
		where t.scheme_task_id in
		<foreach item="schemeTaskId" collection="array" open="(" separator="," close=")">
            #{schemeTaskId}
        </foreach>
	</select>
	
	<insert id="insertWorkSchemeTask" parameterType="WorkSchemeTask" useGeneratedKeys="true" keyProperty="schemeTaskId">
        insert into work_scheme_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null ">job_id,</if>
            <if test="taskTiming != null ">task_timing,</if>
            <if test="songData != null  and songData != ''">song_data,</if>
            <if test="taskVol != null ">task_vol,</if>
            <if test="taskDomainIds != null  and taskDomainIds != ''">task_domain_ids,</if>
            <if test="taskTerIds != null  and taskTerIds != ''">task_ter_ids,</if>
            <if test="taskCastType != null  and taskCastType != ''">task_cast_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null ">#{jobId},</if>
            <if test="taskTiming != null ">#{taskTiming},</if>
            <if test="songData != null  and songData != ''">#{songData},</if>
            <if test="taskVol != null ">#{taskVol},</if>
            <if test="taskDomainIds != null  and taskDomainIds != ''">#{taskDomainIds},</if>
            <if test="taskTerIds != null  and taskTerIds != ''">#{taskTerIds},</if>
            <if test="taskCastType != null  and taskCastType != ''">#{taskCastType},</if>
         </trim>
    </insert>

    <update id="updateWorkSchemeTask" parameterType="WorkSchemeTask">
        update work_scheme_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="jobId != null ">job_id = #{jobId},</if>
            <if test="taskTiming != null ">task_timing = #{taskTiming},</if>
            <if test="songData != null  and songData != ''">song_data = #{songData},</if>
            <if test="taskVol != null ">task_vol = #{taskVol},</if>
            <if test="taskDomainIds != null  and taskDomainIds != ''">task_domain_ids = #{taskDomainIds},</if>
            <if test="taskTerIds != null  and taskTerIds != ''">task_ter_ids = #{taskTerIds},</if>
            <if test="taskCastType != null  and taskCastType != ''">task_cast_type = #{taskCastType},</if>
        </trim>
        where scheme_task_id = #{schemeTaskId}
    </update>

    <delete id="deleteWorkSchemeTaskById" parameterType="Long">
        delete from work_scheme_task where scheme_task_id = #{schemeTaskId}
    </delete>

    <delete id="deleteWorkSchemeTaskByIds" parameterType="String">
        delete from work_scheme_task where scheme_task_id in 
        <foreach item="schemeTaskId" collection="array" open="(" separator="," close=")">
            #{schemeTaskId}
        </foreach>
    </delete>
    
</mapper> 